<!DOCTYPE html> 
<html> 
	<head> 
	<title>{% block title %}{% endblock %}</title> 
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.1.1/jquery.mobile-1.1.1.min.css" />
	<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.1.1/jquery.mobile-1.1.1.min.js"></script>
</head> 
<body> 

<div data-role="page">

	{% block header %}
	<div data-role="header">
		{% block header_in %}
		<h1>My Title</h1>
		{% endblock %}
	</div><!-- /header -->
	{% endblock %}

	{% block content %}
	<div data-role="content">	
		{% block content_in %}
		<p>Hello world</p>		
		{% endblock %}
	</div><!-- /content -->
	{% endblock %}
	
	{% block footer %}
	<div data-role="footer"> 
		{% block footer_in %}
		<h4>Footer content</h4> 
		{% endblock %}
	</div> 
	{% endblock %}

</div><!-- /page -->

</body>
</html>
