{% extends 'JDDOpAppBundle::base_layout.html.twig' %}

{% block header_in %}
<h1>Meetings</h1>
{% endblock %}

{% block footer_in %}
        <a href="{{ path('meeting') }}">
            Meetings
        </a>
{% endblock %}