{% extends 'JDDOpAppBundle:Meeting:layout.html.twig' %}

{% block content_in %}
<form action="{{ path('meeting_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Create</button>
    </p>
</form>
{% endblock %}